<!DOCTYPE html>
<html lang="en_US">
<head>
	<meta name="color-scheme" content="light dark">
    <meta content="width=device-width, initial-scale=1.0">
    <title>File Browser</title>
	<style>
		table img {
			vertical-align: middle;
		}
		</style>
</head>
<body>
    <div class="upload_file">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="file">
            <input type="submit" value="Upload">
        </form>
    </div>

	<table>
		<tbody>
			<tr>
				<th valign="top">
					<img src="static/icon/blank.png" alt="">
				</th>
				<th>Name</th>
				<th>Last modified</th>
				<th>Size</th>
			</tr>
			<tr>
                <th colspan="5">
                    <hr>
                </th>
            </tr>

			{{ range .Files }}
			<tr>
				<td valign="top">
					{{ if .IsDir }}
						<img src="/static/icon/{{if .DefTheme}}dark/{{else}}light/{{end}}folder.png">
					{{ else }}
						<img src="/static/icon/{{if .DefTheme}}dark/{{else}}light/{{end}}{{ iconForExt .Filename }}">

					{{ end }}
				</td>
				<td>
					<a href="{{ .Filename }}">{{ .Filename }}</a>
				</td>
				<td align="right">{{ .Date }}</td>
				<td align="right">{{ .Size | formatSize }}</td>
			</tr>
			{{ end }}
		</tbody>
	</table>
</body>
</html>
