<!DOCTYPE html>
<html>
<head>
	<meta name="color-scheme" content="{{ if eq .Theme "light" }}light{{ else }}dark{{ end }}">
	<title>FTP - {{.CurrentPath}}</title>
	<style>#file {width: 80%;}</style>
</head>
<body>
	<h1>{{.CurrentPath}}</h1>
	<form action="/upload?path={{.CurrentPath}}" method="post" enctype="multipart/form-data">
		<button type="submit">Upload</button>
		<input type="file" name="file" id="file" required>
	</form>

	<br>

	<form action="/createdir?path={{.CurrentPath}}" method="post">
		<button type="submit">Create</button>
		<input type="text" name="dirname" id="dirname" placeholder="Directory...">
	</form>

	<br>

	<form action="/set-theme" method="POST">
		<input type="hidden" name="theme" value="{{ if eq .Theme "light" }}dark{{ else }}light{{ end }}">
		<button type="submit">Toggle theme</button>
	</form>

	<br>

	<input type="text" id="searchInput" placeholder="Search by name..." style="padding: 5px">

	<table>
		<tbody>
			<tr><th colspan="5"><hr></th></tr>
			<tr>
				<th></th>
				<th>Name</th>
				<th>Last Modified</th>
				<th>Size</th>
			</tr>
			<tr><th colspan="5"><hr></th></tr>
			{{ range .Files }}
			<tr class="file-row">
				<td>
					{{ if .IsDir }}
					<img src="/static/icon/{{ $.Theme }}/folder.png" valign="top">
					{{ else }}
					<img src="/static/icon/{{ $.Theme }}/{{ iconForExt .Filename }}" valign="top">
					{{ end }}
				</td>
				<td class="filename">
					<a href="/files{{ .Path }}" title="{{ .Filename }}">{{ .Filename }}{{ if .IsDir }}/{{ end }}</a>
				</td>
				<td align="right">{{ .Date }}</td>
				<td align="right">{{ if .IsDir }}-{{ else }}{{ .Size | formatSize }}{{ end }}</td>
			</tr>
			{{ end }}
		</tbody>
	</table>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
			const searchInput = document.getElementById('searchInput');
			const rows = document.querySelectorAll('.file-row');
			searchInput.addEventListener('input', function (e) {
				const searchTerm = e.target.value.toLowerCase();

				rows.forEach(row => {
					const filename = row.querySelector('.filename').textContent.toLowerCase();
					if (filename.includes(searchTerm)) {
						row.style.display = 'table-row';
					} else {
						row.style.display = 'none';
					}
				});
			});
		});
	</script>
</body>
</html>
